In [1]:
import os
import sys

In [2]:
%pwd

'd:\\collab_projects\\South_German_Credit_Risk\\notebook'

In [3]:
os.chdir("../")

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("artifacts/data_ingestion/dataset.csv")

df.head()

,status,duration,credit_history,purpose,amount,savings,employment_duration,installment_rate,personal_status_sex,other_debtors,...,property,age,other_installment_plans,housing,number_credits,job,people_liable,telephone,foreign_worker,credit_risk
0,no checking account,18,all credits at this bank paid back duly,car (used),1049,unknown/no savings account,< 1 yr,< 20,female : non-single or male : single,none,...,car or other,21,none,for free,1,skilled employee/official,0 to 2,no,no,good
1,no checking account,9,all credits at this bank paid back duly,others,2799,unknown/no savings account,1 <= ... < 4 yrs,25 <= ... < 35,male : married/widowed,none,...,unknown / no property,36,none,for free,3-Feb,skilled employee/official,3 or more,no,no,good
2,... < 0 DM,12,no credits taken/all credits paid back duly,retraining,841,... < 100 DM,4 <= ... < 7 yrs,25 <= ... < 35,female : non-single or male : single,none,...,unknown / no property,23,none,for free,1,unskilled - resident,0 to 2,no,no,good
3,no checking account,12,all credits at this bank paid back duly,others,2122,unknown/no savings account,1 <= ... < 4 yrs,20 <= ... < 25,male : married/widowed,none,...,unknown / no property,39,none,for free,3-Feb,unskilled - resident,3 or more,no,yes,good
4,no checking account,12,all credits at this bank paid back duly,others,2171,unknown/no savings account,1 <= ... < 4 yrs,< 20,male : married/widowed,none,...,car or other,38,bank,rent,3-Feb,unskilled - resident,0 to 2,no,yes,good

In [6]:
df["status"].value_counts()

... >= 200 DM / salary for at least 1 year    394
no checking account                           274
... < 0 DM                                    269
0<= ... < 200 DM                               63
Name: status, dtype: int64

In [37]:
df["credit_history"].value_counts()

no credits taken/all credits paid back duly    530
all credits at this bank paid back duly        293
existing credits paid back duly till now        88
critical account/other credits elsewhere        49
delay in paying off in the past                 40
Name: credit_history, dtype: int64

In [38]:
df["purpose"].value_counts()

furniture/equipment    280
others                 234
car (used)             181
car (new)              103
retraining              97
repairs                 50
domestic appliances     22
business                12
radio/television        12
vacation                 9
Name: purpose, dtype: int64

In [39]:
df["savings"].value_counts()

unknown/no savings account    603
... >= 1000 DM                183
... <  100 DM                 103
100 <= ... <  500 DM           63
500 <= ... < 1000 DM           48
Name: savings, dtype: int64

In [40]:
df["employment_duration"].value_counts()

1 <= ... < 4 yrs    339
>= 7 yrs            253
4 <= ... < 7 yrs    174
< 1 yr              172
unemployed           62
Name: employment_duration, dtype: int64

In [41]:
df["installment_rate"].value_counts()

< 20              476
25 <= ... < 35    231
20 <= ... < 25    157
>= 35             136
Name: installment_rate, dtype: int64

In [42]:
df["personal_status_sex"].value_counts()

male : married/widowed                  548
female : non-single or male : single    310
female : single                          92
male : divorced/separated                50
Name: personal_status_sex, dtype: int64

In [43]:
df["other_debtors"].value_counts()

none            907
guarantor        52
co-applicant     41
Name: other_debtors, dtype: int64

In [44]:
df["present_residence"].value_counts()

>= 7 yrs            413
1 <= ... < 4 yrs    308
4 <= ... < 7 yrs    149
< 1 yr              130
Name: present_residence, dtype: int64

In [45]:
df["property"].value_counts()

building soc. savings agr./life insurance    332
unknown / no property                        282
car or other                                 232
real estate                                  154
Name: property, dtype: int64

In [46]:
df["other_installment_plans"].value_counts()

none      814
bank      139
stores     47
Name: other_installment_plans, dtype: int64

In [47]:
df["housing"].value_counts()

rent        714
for free    179
own         107
Name: housing, dtype: int64

In [48]:
df["number_credits"].value_counts()

1        633
3-Feb    333
5-Apr     28
>= 6       6
Name: number_credits, dtype: int64

In [49]:
df["job"].value_counts()

skilled employee/official                     630
unskilled - resident                          200
manager/self-empl./highly qualif. employee    148
unemployed/unskilled - non-resident            22
Name: job, dtype: int64

In [50]:
df["people_liable"].value_counts()

0 to 2       845
3 or more    155
Name: people_liable, dtype: int64

In [51]:
df["telephone"].value_counts()

no                           596
yes (under customer name)    404
Name: telephone, dtype: int64

In [52]:
df["foreign_worker"].value_counts()

no     963
yes     37
Name: foreign_worker, dtype: int64

In [7]:
df.columns

Index(['status', 'duration', 'credit_history', 'purpose', 'amount', 'savings',
       'employment_duration', 'installment_rate', 'personal_status_sex',
       'other_debtors', 'present_residence', 'property', 'age',
       'other_installment_plans', 'housing', 'number_credits', 'job',
       'people_liable', 'telephone', 'foreign_worker', 'credit_risk'],
      dtype='object')

In [8]:
df["duration"].value_counts()

24    184
12    179
18    113
36     83
6      75
15     64
9      49
48     48
30     40
21     30
10     28
27     13
60     13
42     11
11      9
20      8
8       7
4       6
45      5
39      5
7       5
14      4
13      4
28      3
33      3
54      2
22      2
16      2
5       1
47      1
26      1
72      1
40      1
Name: duration, dtype: int64

In [31]:
df["duration"].min()

4

In [32]:
df["duration"].max()

72

In [9]:
df["credit_history"].value_counts()

no credits taken/all credits paid back duly    530
all credits at this bank paid back duly        293
existing credits paid back duly till now        88
critical account/other credits elsewhere        49
delay in paying off in the past                 40
Name: credit_history, dtype: int64

In [10]:
df["purpose"].value_counts()

furniture/equipment    280
others                 234
car (used)             181
car (new)              103
retraining              97
repairs                 50
domestic appliances     22
business                12
radio/television        12
vacation                 9
Name: purpose, dtype: int64

In [11]:
df["amount"].value_counts()

1258     3
1275     3
1393     3
1262     3
1478     3
        ..
1346     1
10477    1
2924     1
1961     1
6350     1
Name: amount, Length: 923, dtype: int64

In [34]:
df["amount"].min()

#df["amount"].max()

250

In [12]:
df.columns

Index(['status', 'duration', 'credit_history', 'purpose', 'amount', 'savings',
       'employment_duration', 'installment_rate', 'personal_status_sex',
       'other_debtors', 'present_residence', 'property', 'age',
       'other_installment_plans', 'housing', 'number_credits', 'job',
       'people_liable', 'telephone', 'foreign_worker', 'credit_risk'],
      dtype='object')

In [13]:
df["savings"].value_counts()

unknown/no savings account    603
... >= 1000 DM                183
... <  100 DM                 103
100 <= ... <  500 DM           63
500 <= ... < 1000 DM           48
Name: savings, dtype: int64

In [14]:
df["employment_duration"].value_counts()

1 <= ... < 4 yrs    339
>= 7 yrs            253
4 <= ... < 7 yrs    174
< 1 yr              172
unemployed           62
Name: employment_duration, dtype: int64

In [15]:
df["installment_rate"].value_counts()

< 20              476
25 <= ... < 35    231
20 <= ... < 25    157
>= 35             136
Name: installment_rate, dtype: int64

In [16]:
df["personal_status_sex"].value_counts()

male : married/widowed                  548
female : non-single or male : single    310
female : single                          92
male : divorced/separated                50
Name: personal_status_sex, dtype: int64

In [17]:
df.columns

Index(['status', 'duration', 'credit_history', 'purpose', 'amount', 'savings',
       'employment_duration', 'installment_rate', 'personal_status_sex',
       'other_debtors', 'present_residence', 'property', 'age',
       'other_installment_plans', 'housing', 'number_credits', 'job',
       'people_liable', 'telephone', 'foreign_worker', 'credit_risk'],
      dtype='object')

In [18]:
df["other_debtors"].value_counts()

none            907
guarantor        52
co-applicant     41
Name: other_debtors, dtype: int64

In [19]:
df["present_residence"].value_counts()

>= 7 yrs            413
1 <= ... < 4 yrs    308
4 <= ... < 7 yrs    149
< 1 yr              130
Name: present_residence, dtype: int64

In [20]:
df["property"].value_counts()

building soc. savings agr./life insurance    332
unknown / no property                        282
car or other                                 232
real estate                                  154
Name: property, dtype: int64

In [21]:
df["age"].value_counts()

27    50
26    49
23    48
24    45
28    43
35    40
25    40
36    40
30    40
31    38
29    37
32    34
33    33
34    33
37    29
22    27
40    27
38    24
42    22
39    21
46    18
44    17
43    17
47    17
41    17
45    15
21    14
20    14
49    14
48    12
54    10
50    10
52     9
57     9
55     8
63     8
51     8
53     7
61     7
60     6
66     5
64     5
58     5
65     5
74     4
67     3
68     3
59     3
56     3
19     2
75     2
62     2
70     1
Name: age, dtype: int64

In [35]:
df["age"].min()

19

In [36]:
df["age"].max()

75

In [22]:
df["other_installment_plans"].value_counts()

none      814
bank      139
stores     47
Name: other_installment_plans, dtype: int64

In [23]:
df.columns

Index(['status', 'duration', 'credit_history', 'purpose', 'amount', 'savings',
       'employment_duration', 'installment_rate', 'personal_status_sex',
       'other_debtors', 'present_residence', 'property', 'age',
       'other_installment_plans', 'housing', 'number_credits', 'job',
       'people_liable', 'telephone', 'foreign_worker', 'credit_risk'],
      dtype='object')

In [24]:
df["housing"].value_counts()

rent        714
for free    179
own         107
Name: housing, dtype: int64

In [25]:
df["number_credits"].value_counts()

1        633
3-Feb    333
5-Apr     28
>= 6       6
Name: number_credits, dtype: int64

In [26]:
df["job"].value_counts()

skilled employee/official                     630
unskilled - resident                          200
manager/self-empl./highly qualif. employee    148
unemployed/unskilled - non-resident            22
Name: job, dtype: int64

In [27]:
df["people_liable"].value_counts()

0 to 2       845
3 or more    155
Name: people_liable, dtype: int64

In [28]:
df["telephone"].value_counts()

no                           596
yes (under customer name)    404
Name: telephone, dtype: int64

In [29]:
df.columns

Index(['status', 'duration', 'credit_history', 'purpose', 'amount', 'savings',
       'employment_duration', 'installment_rate', 'personal_status_sex',
       'other_debtors', 'present_residence', 'property', 'age',
       'other_installment_plans', 'housing', 'number_credits', 'job',
       'people_liable', 'telephone', 'foreign_worker', 'credit_risk'],
      dtype='object')

In [30]:
df["foreign_worker"].value_counts()

no     963
yes     37
Name: foreign_worker, dtype: int64